@inherits TaskBaseComponent

<div style="float:right">
    <RadzenSplitButton Icon="add_circle" Click=@(args => OnClick(args)) Text="Create Task" ButtonStyle="ButtonStyle.Danger">
        <ChildContent>
            <RadzenSplitButtonItem Icon="public" Text="Using AI" Value="ai" />
        </ChildContent>
    </RadzenSplitButton>
</div>

@code {
    [Parameter] public EventCallback<string> Created { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected async Task OnClick(RadzenSplitButtonItem args)
    {
        if (Security.IsNotAuthenticated())
        {
            var result = await ShowUnAuthorized(Paths.Tasks_View);
        }
        else
        {
            if (args == null || args?.Value == "ai")
            {
    //             var result = await DialogService.OpenAsync("Upload File to Create Job", ds =>
    // @<RadzenCard Variant="Variant.Outlined">
    //     <UploadToJsonComponent Url=@Paths.Jobs_API_CreateFromFile UploadCompleted=@UploadCompletedHandler></UploadToJsonComponent>
    // </RadzenCard>
    // );
            }
        }
    }
}
