@page "/embedded/publicresumes"
@inherits BaseComponent
@layout EmbeddedLayout


<PageTitle>@ResumePageTitle</PageTitle>
<div id="some-element">
    <ResumesPublicComponent></ResumesPublicComponent>
</div>
