@using BlazorTemplater
@using Markdig
@using MyVideoResume.Abstractions.Core
@using MyVideoResume.Abstractions.Job
@using MyVideoResume.Abstractions.Resume
@using MyVideoResume.Client.Pages.App.People.Resumes.Templates
@using MyVideoResume.Client.Services.FeatureFlag
@using MyVideoResume.Data.Models.Jobs
@using System.Text.Json
@using MyVideoResume.Data.Models.Resume
@inherits BaseComponent

<RadzenSteps Change="@OnChange" @ref=@Steps Style="width:100%">
    <Steps>
        <RadzenStepsItem Text="Add Resume">
            <RadzenRow Style="width:100%">
                <RadzenCard Variant="Variant.Outlined">
                    <ResumeUploadComponent UploadCompleted=@UploadCompletedHandler></ResumeUploadComponent>
                    <RadzenHtmlEditor @bind-Value=@Content style="height: 375px; width:100%;">
                        <RadzenHtmlEditorUndo />
                        <RadzenHtmlEditorRedo />
                        <RadzenHtmlEditorSeparator />
                        <RadzenHtmlEditorBold />
                        <RadzenHtmlEditorItalic />
                        <RadzenHtmlEditorUnderline />
                        <RadzenHtmlEditorStrikeThrough />
                        <RadzenHtmlEditorSeparator />
                    </RadzenHtmlEditor>

                </RadzenCard>
            </RadzenRow>
        </RadzenStepsItem>
        <RadzenStepsItem Text="Run Match">
            <RadzenRow>
                <div hidden=@(!ShowMatchProcessingError)><span style="color:red"><strong>Error Processing Match.</strong></span></div>
                <RadzenButton IsBusy=@Busy Text="Process Match" Click=@(()=> ProcessJobMatch())></RadzenButton>
            </RadzenRow>
        </RadzenStepsItem>
        <RadzenStepsItem Text="See Results">
            <RadzenRow>
                <RadzenHtmlEditor @bind-Value=@MatchContent style="height: 375px; width:100%;">
                    <RadzenHtmlEditorUndo />
                    <RadzenHtmlEditorRedo />
                    <RadzenHtmlEditorSeparator />
                    <RadzenHtmlEditorBold />
                    <RadzenHtmlEditorItalic />
                    <RadzenHtmlEditorUnderline />
                    <RadzenHtmlEditorStrikeThrough />
                    <RadzenHtmlEditorSeparator />
                </RadzenHtmlEditor>
            </RadzenRow>
        </RadzenStepsItem>
    </Steps>
</RadzenSteps>

@code {
    [Inject] public JobWebService JobService { get; set; }
    [Inject] public ResumeWebService ResumeService { get; set; }
    [Parameter] public JobSummaryItem Item { get; set; }
    public string Content { get; set; }
    public string MatchContent { get; set; }
    public RadzenSteps Steps { get; set; }
    public bool Busy { get; set; }
    public bool ShowMatchProcessingError { get; set; } = false;

    async Task OnChange(int index)
    {
        if (!Content.HasValue())
        {
            Steps.SelectedIndex = 0;
        }
    }


    protected async Task ProcessJobMatch()
    {
        Busy = true;
        if (Content.HasValue())
        {
            var result = await ResumeService.Match(Content, Item.JobSerialized);
            if (result.ErrorMessage.HasValue())
            {
                ShowMatchProcessingError = true;
            }
            else
            {
                ShowMatchProcessingError = false;
                Steps.SelectedIndex = 2;
                var markdownResult = result.Result;
                MatchContent = Markdown.ToHtml(markdownResult);
            }
        }
        Busy = false;
    }

    [Parameter] public EventCallback<string> JobCreated { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }


    async Task UploadCompletedHandler(ResponseResult<ResumeInformationEntity> result)
    {
        if (result.ErrorMessage.HasValue())
        {
            ShowErrorNotification("Failed Processing Resume", string.Empty);
        }
        else
        {
            var resumeText = new ComponentRenderer<BasicTemplate>()
            .AddService<MenuService>(MenuService)
            .AddService<NavigationManager>(NavigationManager)
            .AddService<AuthenticationStateProvider>(AuthenticationStateProvider)
            .AddService<HttpClient>(Http)
            .AddService<IJSRuntime>(JSRuntime)
            .AddService<DialogService>(DialogService)
            .AddService<TooltipService>(TooltipService)
            .AddService<ContextMenuService>(ContextMenuService)
            .AddService<NotificationService>(NotificationService)
            .AddService<SecurityWebService>(Security)
            .Set(c => c.Resume, result.Result)
            .Render();

            Content = resumeText;
        }
    }

}
