@using MyVideoResume.Abstractions.Resume
@inherits BaseComponent

<RadzenRow Style="padding-bottom:15px" Visible="@(ResumeList.Count > 0)">
    <RadzenColumn Style="max-width: 100%">
        <RadzenText class="first_ftw" Text="Featured Resumes" TextStyle="TextStyle.H3"></RadzenText>
        <RadzenCard>
            <div class="searchComponent" style="overflow:auto;">
                <RadzenStack Orientation="Orientation.Horizontal">
                    @foreach (var resume in ResumeList)
                    {

                        <RadzenColumn Size="4" SizeXS="4" SizeSM="4" SizeMD="4" SizeLG="4" SizeXL="4" SizeXX="4">
                            <ResumePreviewComponent ResumeItem=@resume Mode="Actions.ReadView"></ResumePreviewComponent>
                        </RadzenColumn>

                    }
                </RadzenStack>
            </div>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>

@code {

    [Inject]
    protected ResumeWebService Service { get; set; }

    [Inject]
    protected ILogger<Index> Console { get; set; }

    List<ResumeInformationSummaryDTO> ResumeList { get; set; } = new List<ResumeInformationSummaryDTO>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        ResumeList = await Service.GetResumesPublic();
    }
}